@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

* {
  font-family: Dancing script;
}

html {
  padding: 10vw;
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
}

h1 {
  -webkit-animation: text-focus-in 1s 2s ease both;
  animation: text-focus-in 1s 2s ease both;
  font-size: 10vw;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p {
  font-size: 5vw;
}

.p4 {
  -webkit-animation: text-focus-in 2s 30s ease both;
  animation: text-focus-in 2s 30s ease both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
